<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/reset.css">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <link rel="stylesheet" href="css/globalconfig.css">
    <link rel="stylesheet" href="css/4-informacoes-seller.css">
    <title> - Dashboard</title>
</head>
<body>
    <header>
        <div>
            <img src="" alt="logo">
        </div>
        <div id="header-fuctions">
            <i class='bx bx-bell' id="user-bell"></i>
            <span id="user-name"><%=autenticado.autenticado%></span>
            <i class='bx bxs-user-circle' id="user-icon"></i>
            <i class='bx bx-chevron-down' id="user-more"></i>
        </div>
        <div id="seller-not" class="">
            <div>
                <i class='bx bx-chevron-left' id="backrow"></i>
                <span>Notificações</span>
            </div>
            
        </div>
    </header>
    <main>
        <nav>
            <a href="/dashboard"><button><i class='bx bxs-dashboard'></i>Dashboard</button></a>
            <a href="/catalogo"><button><i class='bx bx-food-menu'></i>Catalogo</button></a>
            <a href="/informacoes"><button class="actived"><i class='bx bx-store' ></i>Informações</button></a>
            <a href="/chat"><button><i class='bx bx-message-square-dots'></i>Chat</button></a>
            <a href="/vendas"><button><i class='bx bx-objects-vertical-bottom'></i>Vendas</button></a>
            <a href="/assinatura"><button><i class='bx bxs-bookmark-plus'></i>Assinatura</button></a>
            <a href="/configuracoes"><button><i class='bx bx-cog'></i>Configurações</button></a>
        </nav>
        <section>
            <h1>Informações do Local</h1>
            <article>
                <div>
                    <div id="acesso">
                        <span>Acesso do cliente ao seu Catalogo:</span><br>
                        <input type="text" id="espaco-txt-add" disabled value="www.nomesite/<%=autenticado.autenticado%>/<%=autenticado.id_parceira%>" >
                     </div>
                    <form action="/editarinfo" method="post">
                        <article>
                        <div>
                            <span>Nome</span>
                            <input type="text" id="espaco-txt-add" value="<%=autenticado.autenticado%>" name="nome_parceira" autocomplete="off">
                        </div>
                        <div>
                            <span>email</span>
                            <input type="text" id="espaco-txt-add" value="<%=autenticado.email_parceira%>" name="email_parceira" autocomplete="off">
                        </div>
                        <div>
                            <span>CPF</span>
                            <input type="text" id="espaco-txt-add" value="<%=autenticado.cpf_parceira%>" name="cpf_parceira" autocomplete="off">
                        </div>
                        <div>
                            <span>Categoria</span>
                            <select name="categoria_parceira" id="espaco-txt-add">
                                <option value="">Nenhuma selecionada</option>
                                <option value="">Pizzaria</option>
                                <option value="">Hamburgueria</option>
                                <option value="">Lanchonete</option>
                            </select>
                        </div>
                        <div>
                            <span></i>Plano</span>
                            <input type="text" id="espaco-txt-add" value="<%=autenticado.plano_parceira%>" disabled name="" autocomplete="off">
                        </div>
                        </article>
                        <article>
                            <div>
                                <span>CEP</span>
                                <input type="text" id="espaco-txt-add" class="cep" value="<%=autenticado.cep_parceira%>" name="cep_parceira" autocomplete="off">
                                <span class="message"></span>
                            </div>
                            <div>
                                <span>Endereço</span>
                                <input type="text" id="espaco-txt-add" class="endereco" value="<%=autenticado.endereco_parceira%>" name="endereco_parceira" autocomplete="off">
                            </div>
                            <div>
                                <span>Bairro</span>
                                <input type="text" id="espaco-txt-add" class="bairro" value="<%=autenticado.bairro_parceira%>" name="bairro_parceira" autocomplete="off">
                            </div>
                            <div>
                                <span>Cidade</span>
                                <input type="text" id="espaco-txt-add" class="cidade" value="<%=autenticado.cidade_parceira%>" name="cidade_parceira" autocomplete="off">
                            </div>
                            <div>
                                <span>Numero</span>
                                <input type="text" id="espaco-txt-add" value="<%=autenticado.numero_parceira%>" name="numero_parceira" autocomplete="off">
                            </div>
                            </article>
                        <button class="buscar">enviar</button>
                    </form>

                </div>
            </article>
        </section>
    </main>
    <script>
        // configuração das notificações 

        const notbutton = document.getElementById("user-bell");
        const notbar = document.getElementById("seller-not");
        const notclose = document.getElementById("backrow");

        notbutton.addEventListener("click", ()=>{
            notbar.classList.add("show");
        })

        notclose.addEventListener("click", ()=>{
            notbar.classList.remove("show");
        })

        const cep = document.querySelector(".cep");
        const endereco = document.querySelector(".endereco");
        const bairro = document.querySelector(".bairro");
        const cidade = document.querySelector(".cidade");
        const messagespan = document.querySelector(".message");
        cep.addEventListener("focusout", async () => {
    try {
        const onlyNumbers = /^[0-9]+$/;
        const cepValid = /^[0-9]{8}$/;

        if (!onlyNumbers.test(cep.value) || !cepValid.test(cep.value)) {
            throw { cep_error: "Cep Inválido" };
        }

        const response = await fetch(`https://viacep.com.br/ws/${cep.value}/json/`);

        if (!response.ok) {
            throw { cep_error: "Erro na requisição" };
        }

        const responseCep = await response.json(); // Corrigido com await

        endereco.value = responseCep.logradouro;
        bairro.value = responseCep.bairro;
        cidade.value = responseCep.localidade;
    } catch (error) {
        if (error?.cep_error) {
            messagespan.textContent = error.cep_error;
            setTimeout(() => {
                messagespan.textContent = "";
            }, 5000);
        }
        console.error(error);
    }
});


    </script>
</body>
</html>